*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #BCCCDC;
}
.container{
    display: flex;    
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.main{
    border: 1px solid black;
    padding: 2vh;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    background-color: #FFE893;
}
.action{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.qr-box img{
    max-width: 200px;
    height: auto;
}
.qr-box {
    max-width: 200px;
    height: auto;
}
input{
    padding: 5px;
    border-radius: 2px;
    outline: none;
    border: 1px solid black;
    color: green;
    font-weight: 700;
}
button{
    border-radius: 5px;
    padding: 1vh;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: rgb(100, 100, 205);
    transition: 0.2s ease-in-out;
}